
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body style="background-color: aqua">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
    <h3 style="text-align: center">Welcome to simbion login here</h3>
    <form action="{% url 'login:login' %}" method="POST">
        {% csrf_token %}
        <p>
            <label for="username"> Your username </label>
            <input type="text" id="username" name="username" required>
        </p>
        <p>
            <label for="password"> Your password </label>
            <input type="password" id="password" name="password" required>
        </p>
        <input type="submit" class="btn btn-default">
        
    </form>
    <br><br>
    <a href="{% url 'regis:index' %}">Create account here </a>
</body>

</html>


