
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mahaiswa</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body style="background-color: aqua">
    <h1 style="text-align: center">Registrasi Donatur Individual</h1>
    <form action="{% url 'regis:sign_individual' %}" method="POST">
        {% csrf_token %}
        <p>
                <label for="username"> Username </label>
                <input class="form-control" type="text" id="username" name="username" required>
        </p>
        <p>
            <label for="password"> Your password </label>
            <input type="password" id="password" name="password" required>
        </p>
        <p>
                <label for="npm"> Nomor Identitas :</label>
                <input class="form-control" type="text" id="npm" name="npm" required>
        </p>
        <p>
                <label for="email"> NIK :</label>
                <input class="form-control" type="email" id="email" name="email" required>
        </p>
        <p>
                <label for="nama"> Email : </label>
                <input class="form-control" type="text" id="nama" name="nama" required>
        </p>
        <p>
                <label for="no_telp"> Nama Lengkap : </label>
                <input class="form-control" type="text" id="no_telp" name="no_telp">
        </p>
        <p>
                <label for="alamat_tinggal"> NPWP : </label>
                <input class="form-control" type="text" id="alamat_tinggal" name="alamat_tinggal" required>
        </p>
        <p>
                <label for="alamat_domisili">Nomor Telpon: </label>
                <input class="form-control" type="text" id="alamat_domisili" name="alamat_domisili" required>
        </p>
        <p>
                <label for="nama_bank"> Alamat: </label>
                <input class="form-control" type="text" id="nama_bank" name="nama_bank" required>
                
        </p>
        <p>
                <label for="no_rekening"> Nomor Rekening : </label>
                <input class="form-control" type="text" id="no_rekening" name="no_rekening" required>
        </p>

        <input type="submit" class="btn btn-default">
        
    </form>
</body>

</html>


