
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mahaiswa</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body style="background-color: aqua">
    <h1 style="text-align: center">Registrasi Mahasiswa</h1>
    <form action="{% url 'regis:sign_mahasiswa' %}" method="POST">
        {% csrf_token %}
        <p>
                <label for="username"> Username </label>
                <input class="form-control" type="text" id="username" name="username" required>
        </p>
        <p>
            <label for="password"> Your password </label>
            <input type="password" id="password" name="password" required>
        </p>
        <p>
                <label for="npm"> NPM :</label>
                <input class="form-control" type="text" id="npm" name="npm" required>
        </p>
        <p>
                <label for="email"> Email :</label>
                <input class="form-control" type="email" id="email" name="email" required>
        </p>
        <p>
                <label for="nama"> Nama Lengkap : </label>
                <input class="form-control" type="text" id="nama" name="nama" required>
        </p>
        <p>
                <label for="no_telp"> Nomor Telepon : </label>
                <input class="form-control" type="text" id="no_telp" name="no_telp">
        </p>
        <p>
                <label for="alamat_tinggal"> Alamat Tempat Tinggal : </label>
                <input class="form-control" type="text" id="alamat_tinggal" name="alamat_tinggal" required>
        </p>
        <p>
                <label for="alamat_domisili"> Alamat Domisili : </label>
                <input class="form-control" type="text" id="alamat_domisili" name="alamat_domisili" required>
        </p>
        <p>
                <label for="nama_bank"> Instansi Bank : </label>
                <input class="form-control" type="text" id="nama_bank" name="nama_bank" required>
                
        </p>
        <p>
                <label for="no_rekening"> Nomor Rekening : </label>
                <input class="form-control" type="text" id="no_rekening" name="no_rekening" required>
        </p>
        <p>
                <label for="nama_pemilik"> Nama Pemilik : </label>
                <input class="form-control" type="text" id="nama_pemilik" name="nama_pemilik" required>
        </p>

        <input type="submit" class="btn btn-default">
        
    </form>
</body>

</html>


