
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body style="background-color: aqua" align= "center">
    <h1 style="text-align: center">pilih role anda</h1>
    <a href="{% url 'regis:donatur_individual' %}">Donatur Individual</a><br>
    <a href="{% url 'regis:donatur_yayasan' %}">Donatur Yayasan</a><br>

</body>

</html>


