

.login-page {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 1200px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.login-page .rectangle18 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 1199px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .canvas {
  background-color    : rgba(255, 186, 51, 1.0);
  top                 : 112px;
  height              : 973px;
  width               : 1272px;
  position            : absolute;
  margin              : 0;
  left                : 328px;
  overflow            : hidden;
}
.login-page .canvas .mask {
  background-color    : rgba(255, 186, 51, 1.0);
  top                 : 0px;
  height              : 973px;
  width               : 1272px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .canvas .path11-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -14px;
  height              : 989px;
  width               : 605px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
}
.login-page .canvas .path11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 974px;
  width               : 605px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
}
.login-page .left-side {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 254px;
  height              : 673px;
  width               : 635px;
  position            : absolute;
  margin              : 0;
  left                : 170px;
}
.login-page .left-side .door-bottom {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 101px;
  height              : 476px;
  width               : 179px;
  position            : absolute;
  margin              : 0;
  left                : 245px;
}
.login-page .left-side .door-bottom .rectangle15 {
  background-color    : rgba(255, 230, 109, 1.0);
  top                 : 0px;
  height              : 476px;
  width               : 179px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .door-bottom .rectangle4 {
  background-color    : rgba(26, 136, 142, 1.0);
  top                 : 0px;
  height              : 476px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .door-bottom .rectangle5 {
  background-color    : rgba(78, 205, 196, 1.0);
  top                 : 0px;
  height              : 476px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
}
.login-page .left-side .character {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 673px;
  width               : 635px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .character .floor {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 577px;
  height              : 30px;
  width               : 426px;
  position            : absolute;
  margin              : 0;
  left                : 223px;
}
.login-page .left-side .character .floor .rectangle19 {
  background-color    : rgba(18, 61, 68, 1.0);
  top                 : 0px;
  height              : 30px;
  width               : 427px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
}
.login-page .left-side .character .floor .rectangle20 {
  background-color    : rgba(20, 68, 76, 1.0);
  top                 : 8px;
  height              : 22px;
  width               : 410px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  border-radius       : 2px;
}
.login-page .left-side .character .path12 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 673px;
  width               : 380px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  opacity             : 0.16;
}
.login-page .left-side .character .head {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 207px;
  height              : 122px;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 209px;
}
.login-page .left-side .character .head .hair {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 78px;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .character .head .face {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 30px;
  height              : 74px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
}
.login-page .left-side .character .head .eye {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 52px;
  height              : 9px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 59px;
  -ms-transform       : rotate(-9deg); /* IE 9 */
  -webkit-transform   : rotate(-9deg); /* Chrome, Safari, Opera */
  transform           : rotate(-9deg);
}
.login-page .left-side .character .head .eye-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 48px;
  height              : 9px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(-9deg); /* IE 9 */
  -webkit-transform   : rotate(-9deg); /* Chrome, Safari, Opera */
  transform           : rotate(-9deg);
}
.login-page .left-side .character .head .eyebrow {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 43px;
  height              : 6px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 53px;
}
.login-page .left-side .character .head .eyebrow-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 40px;
  height              : 5px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  -ms-transform       : rotate(17deg); /* IE 9 */
  -webkit-transform   : rotate(17deg); /* Chrome, Safari, Opera */
  transform           : rotate(17deg);
}
.login-page .left-side .character .head .nose {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 49px;
  height              : 17px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 75px;
}
.login-page .left-side .character .head .neck {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 101px;
  height              : 20px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 59px;
}
.login-page .left-side .character .head .mouth {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 70px;
  height              : 28px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
}
.login-page .left-side .character .shoes {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 561px;
  height              : 20px;
  width               : 56px;
  position            : absolute;
  margin              : 0;
  left                : 287px;
}
.login-page .left-side .character .shoes .path10 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 18px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
}
.login-page .left-side .character .shoes .path9 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 21px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .character .pants {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 417px;
  height              : 151px;
  width               : 57px;
  position            : absolute;
  margin              : 0;
  left                : 283px;
}
.login-page .left-side .character .pants .path6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 150px;
  width               : 56px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .character .pants .path7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 126px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
}
.login-page .left-side .character .apparel {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 313px;
  height              : 119px;
  width               : 189px;
  position            : absolute;
  margin              : 0;
  left                : 209px;
}
.login-page .left-side .character .apparel .path8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 97px;
  height              : 20px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 78px;
}
.login-page .left-side .character .apparel .jas {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 4px;
  height              : 115px;
  width               : 189px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .character .apparel .jas .jas1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 115px;
  width               : 189px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .character .apparel .jas .oval {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 81px;
  height              : 9px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
}
.login-page .left-side .character .apparel .jas .oval-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 64px;
  height              : 9px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 93px;
}
.login-page .left-side .character .apparel .jas .path4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 57px;
  height              : 38px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
}
.login-page .left-side .character .apparel .shirt {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 5px;
  height              : 53px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 53px;
}
.login-page .left-side .character .apparel .tie {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : 48px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 69px;
}
.login-page .left-side .character .apparel .path5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 5px;
  height              : 54px;
  width               : 56px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
}
.login-page .left-side .character .apparel .collar1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : 14px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 53px;
}
.login-page .left-side .character .apparel .collar2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 14px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 71px;
}
.login-page .left-side .character .hand {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 368px;
  height              : 35px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 243px;
}
.login-page .left-side .character .hand .path2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 34px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .character .hand .path3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 21px;
  height              : 7px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
}
.login-page .left-side .door-front {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 79px;
  height              : 498px;
  width               : 273px;
  position            : absolute;
  margin              : 0;
  left                : 365px;
}
.login-page .left-side .door-front .rectangle10 {
  background-color    : rgba(26, 113, 122, 1.0);
  top                 : 0px;
  height              : 498px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .door-front .rectangle-copy {
  background-color    : rgba(26, 136, 142, 1.0);
  top                 : 0px;
  height              : 497px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .door-front .rectangle {
  background-color    : rgba(78, 205, 196, 1.0);
  top                 : 0px;
  height              : 497px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .door-front .hinge2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 352px;
  height              : 41px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 259px;
}
.login-page .left-side .door-front .hinge2 .rectangle3 {
  background-color    : rgba(26, 83, 92, 1.0);
  top                 : 9px;
  height              : 21px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.login-page .left-side .door-front .hinge2 .rectangle3-copy2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 41px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .door-front .hinge2 .rectangle3-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 41px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .door-front .hinge2 .rectangle14 {
  background-color    : rgba(26, 136, 142, 1.0);
  top                 : 14px;
  height              : 11px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .door-front .hinge1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 113px;
  height              : 41px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 259px;
}
.login-page .left-side .door-front .hinge1 .rectangle31 {
  background-color    : rgba(26, 83, 92, 1.0);
  top                 : 9px;
  height              : 21px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.login-page .left-side .door-front .hinge1 .rectangle3-copy21 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 41px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .door-front .hinge1 .rectangle3-copy1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 41px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .door-front .hinge1 .rectangle141 {
  background-color    : rgba(26, 136, 142, 1.0);
  top                 : 14px;
  height              : 11px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .door-front .window {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 60px;
  height              : 386px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
}
.login-page .left-side .door-front .window .window1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 141px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.login-page .left-side .door-front .window .window1 .rectangle11 {
  background-color    : rgba(26, 136, 142, 1.0);
  top                 : 0px;
  height              : 141px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .door-front .window .window1 .rectangle2 {
  background-color    : rgba(26, 83, 92, 1.0);
  top                 : 0px;
  height              : 141px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 61px;
}
.login-page .left-side .door-front .window .window2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 141px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
}
.login-page .left-side .door-front .window .window2 .rectangle111 {
  background-color    : rgba(26, 136, 142, 1.0);
  top                 : 0px;
  height              : 141px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .door-front .window .window2 .rectangle21 {
  background-color    : rgba(26, 83, 92, 1.0);
  top                 : 0px;
  height              : 141px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 61px;
}
.login-page .left-side .door-front .window .window3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 244px;
  height              : 142px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
}
.login-page .left-side .door-front .window .window3 .rectangle112 {
  background-color    : rgba(26, 136, 142, 1.0);
  top                 : 0px;
  height              : 142px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .door-front .window .window3 .rectangle22 {
  background-color    : rgba(26, 83, 92, 1.0);
  top                 : 0px;
  height              : 142px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 61px;
}
.login-page .left-side .door-front .window .window4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 244px;
  height              : 142px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .door-front .window .window4 .rectangle113 {
  background-color    : rgba(26, 136, 142, 1.0);
  top                 : 0px;
  height              : 142px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .left-side .door-front .window .window4 .rectangle23 {
  background-color    : rgba(26, 83, 92, 1.0);
  top                 : 0px;
  height              : 142px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 61px;
}
.login-page .left-side .door-front .handle {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 251px;
  height              : 26px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
}
.login-page .left-side .door-front .handle .rectangle13 {
  background-color    : rgba(26, 83, 92, 1.0);
  top                 : 9px;
  height              : 9px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
}
.login-page .left-side .door-front .handle .oval2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 26px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
}
.login-page .left-side .door-front .handle .oval3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 10px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
}
.login-page .right-side {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 336px;
  height              : 520px;
  width               : 463px;
  position            : absolute;
  margin              : 0;
  left                : 1035px;
}
.login-page .right-side .sign-up {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 472px;
  height              : 60px;
  width               : 283px;
  position            : absolute;
  margin              : 0;
  left                : 96px;
}
.login-page .right-side .sign-up .create-an-account {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 40px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 88px;
  opacity             : 0.96;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(26, 83, 92, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.login-page .right-side .sign-up .dont-have-an-accoun {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  opacity             : 0.96;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.login-page .right-side .form {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 448px;
  width               : 463px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .right-side .form .rectangle7 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 12px;
  height              : 410px;
  width               : 425px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  border-radius       : 4px;
  overflow            : hidden;
}
.login-page .right-side .form .rectangle7 .mask1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 410px;
  width               : 425px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
}
.login-page .right-side .form .rectangle7 .rectangle71 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -13px;
  height              : 112px;
  width               : 451px;
  position            : absolute;
  margin              : 0;
  left                : -13px;
}
.login-page .right-side .form .rectangle17 {
  background-color    : rgba(26, 83, 92, 1.0);
  top                 : 322px;
  height              : 72px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  border-radius       : 2px;
}
.login-page .right-side .form .l-ogin {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 349px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 211px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.login-page .right-side .form .form-standard {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 132px;
  height              : 55px;
  width               : 197px;
  position            : absolute;
  margin              : 0;
  left                : 39px;
}
.login-page .right-side .form .form-standard .form1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 32px;
  width               : 197px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .right-side .form .form-standard .form1 .rectangle1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 197px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .right-side .form .form-standard .form1 .suggestion {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 0.25);
  text-align          : left;
  line-height         : 15.0px;
}
.login-page .right-side .form .form-standard .form1 .input {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.login-page .right-side .form .form-standard .optional {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.login-page .right-side .form .form-standard .label {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.login-page .right-side .form .form-standard1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 217px;
  height              : 55px;
  width               : 516px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
}
.login-page .right-side .form .form-standard1 .error-message {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 29px;
  height              : 18px;
  width               : 312px;
  position            : absolute;
  margin              : 0;
  left                : 204px;
}
.login-page .right-side .form .form-standard1 .error-message .error-message1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(181, 38, 38, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.login-page .right-side .form .form-standard1 .form2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 32px;
  width               : 197px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .right-side .form .form-standard1 .form2 .rectangle6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 197px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-page .right-side .form .form-standard1 .form2 .suggestion1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 0.25);
  text-align          : left;
  line-height         : 15.0px;
}
.login-page .right-side .form .form-standard1 .form2 .input1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.login-page .right-side .form .form-standard1 .optional1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.login-page .right-side .form .form-standard1 .label1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.login-page .right-side .form .l-ogin1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 47px;
  height              : auto;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 186, 51, 1.0);
  text-align          : left;
  letter-spacing      : 0.9px;
  line-height         : 25.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}